[buildout]
parts = 
    python
    zeromq
    mongrel2

[python]
recipe = zc.recipe.egg
eggs =
    requests
    nose
interpreter = python

[zeromq]
recipe = zc.recipe.cmmi
url = http://download.zeromq.org/zeromq-2.1.10.tar.gz

[mongrel2]
recipe = zc.recipe.cmmi
url = https://github.com/zedshaw/mongrel2/tarball/v1.8.0
md5sum = 0ec44b3cd3518a8e58c591c932075b52
source-directory-contains = Makefile
configure-command = true
environment =
    OPTFLAGS=-I${buildout:directory}/parts/zeromq/include 
    OPTLIBS=-L${buildout:directory}/parts/zeromq/lib -Wl,-rpath -Wl,${buildout:directory}/parts/zeromq/lib
    PREFIX=${buildout:directory}/parts/mongrel2
    LD_LIBRARY_PATH=${buildout:directory}/parts/zeromq/lib
